@font-face {
  font-family: "thohir";
  src: url("thohir_ke_badreah-webfont.woff2") format("woff2"),
    url("thohir_ke_badreah-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
