/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

@import "./sections/about.scss";
@import "./sections/community.scss";
@import "./sections/contact.scss";
@import "./sections/downloads.scss";
@import "./sections/exchanges.scss";
@import "./sections/portfolio.scss";
@import "./sections/roadmap.scss";
@import "./sections/services.scss";
@import "./sections/subscribe.scss";
@import "./sections/team.scss";
@import "./sections/testimonials.scss";

.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: $accent-color;
  margin: 0 auto;
  margin-bottom: 20px;

  &.left {
    margin: 24px 0 48px 0;
  }
}
