/// Default color variables

$accent-color: #ffdd55;
$heading-color: #333333;
$text-color: #666666;

/// Fonts Variables
$accent-font: "thohir", sans-serif;
$heading-font: "thohir", sans-serif;
$text-font: "Open Sans", sans-serif;
