#about {
  background: #222;
  padding-top: 64px;
  max-height: 80vh;

  .section-title {
    color: white;
  }

  .about-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    margin: 80px auto;
  }

  .section-description {
    color: white;

    &.quote {
      line-height: 38px;
      max-width: 600px;
    }
  }

  .section-title-divider {
    @media (min-width: 1024px) {
      margin-bottom: 60px;
    }
  }

  .pane {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    img {
      max-height: 300px;

      @media (min-width: 1024px) {
        max-height: 400px;
        margin: 0 80px 0;
      }
    }
  }

  .left {
    text-align: left;
  }

  .about-content {
    background: #fff;
  }

  .about-title {
    color: #333;
    font-weight: 300;
    font-size: 28px;
  }

  .about-text {
    line-height: 26px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  #blog {
    @media (min-width: 1024px) {
      margin-top: 48px;
    }

    .section-title {
      text-align: left;
    }
  }
}
