/* community Section
--------------------------------*/
#community {
  background-color: $accent-color;
  padding: 64px 0 128px 0;

  .section-title,
  .section-description {
    color: black;
  }

  .section-title-divider  {
    background: $heading-color !important;
  }
}

#community .container {
  max-width: 600px;
}

#community .profile .pic {
  height: 128px;
  width: 128px;
  margin: 0 auto;
}

#community .profile .pic img {
  max-width: 80%;
  margin: 0 auto;
}

#community .profile h4 {
  font-weight: 700;
  color: $accent-color;
  margin-bottom: 5px;
}

#community .profile span {
  color: #333333;
}

@media (max-width: 768px) {
  #community .profile .pic img {
    max-width: 100%;
    margin: 0 auto;
  }

  #community .profile .pic {
    margin: 24px auto;
  }
}
