/* downloads Section
--------------------------------*/
#downloads {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("../img/downloads.jpg") fixed center center;
  color: white;
  background-size: cover;
  padding: 80px 0 60px 0;
  margin-top: 48px;

  .section-title {
    color: white;
  }

  .service-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .service-item {
      margin: 12px;
      padding: 18px;
      background: rgba(0, 0, 0, 0.25);
      border: 1px solid $accent-color;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 280px;

      &:hover {
        background: rgba(255, 255, 255, 0.25);
      }

      @media (min-width: 768px) {
        justify-content: space-around;
      }

      .service-icon {
        background: #ffdd55;
        padding: 24px;
        border-radius: 50%;
        transition: 0.5s;
        border: 1px solid #ffdd55;

        &:hover {
          background: #fff;
        }

        i {
          color: black;
          font-size: 24px;

          &:hover {
            color: #ffdd55;
          }
        }
      }

      &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 100%;

        .service-title {
          font-weight: 700;
          text-transform: uppercase;
          color: white;
          margin-bottom: 8px;
        }

        .service-description {
          line-height: 24px;
          margin-bottom: 8px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
