/* exchanges Section
  --------------------------------*/
#exchanges {
  background: rgba(0, 0, 0, 0.85);
  padding: 64px 0;
  text-align: center;
  width: 100%;

  a {
    text-align: center;
  }

  img {
    @media (max-width: 768px) {
      margin: 12px 0;
    }
  }

  .container {
    @media (max-width: 768px) {
      flex-direction: column;
    }
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.exchanges {
  &-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  &-text {
    color: #fff;
  }

  &-btn-container {
    text-align: center;
    padding-top: 20px;
  }

  &-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;

    &:hover {
      background: #ffdd55;
      border: 2px solid #ffdd55;
    }
  }
}
