/* exchanges Section
  --------------------------------*/
#exchanges {
  background: rgba(0, 0, 0, 0.85);
  padding: 64px 0;
  text-align: center;
  width: 100%;
}

#exchanges .exchanges-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#exchanges .exchanges-text {
  color: #fff;
}

#exchanges .exchanges-btn-container {
  text-align: center;
  padding-top: 20px;
}

#exchanges .exchanges-btn {
  font-family: $heading-font;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#exchanges .exchanges-btn:hover {
  background: #ffdd55;
  border: 2px solid #ffdd55;
}
