.alt-bg {
  background-color: $accent-color;
}

.guide-step {
  max-width: 768px;
  margin: 0 auto 48px auto;

  .video-box {
    max-width: 520px;
  }

  h5,
  h4,
  .section-title,
  .section-description {
    text-align: left;
    line-height: 32px;
  }

  h4,
  h5 {
    font-weight: 700;
    margin: 12px 0;
  }

  h4 {
    margin: 24px auto 8px auto;
  }

  .section-title-divider {
    margin: 24px 0;
  }

  a {
    color: darkcyan;
    font-weight: 700;
  }

  a:visited {
    color: darkred;
  }
}
