.alt-bg {
  background-color: $accent-color;
}

#get-started,
#coin-control {
  margin: 80px auto !important;

  &:first-of-type {
    margin: 0px auto 80px auto !important;
  }

  &:last-of-type {
    margin: 80px auto 0 auto !important;
    padding-bottom: 80px;
  }

  a {
    color: white;
  }

  font-size: 120%;

  .container {
    max-width: 900px !important;
    margin: 0 auto;
  }

  h4 {
    text-align: center;
    line-height: 24px;
  }

  .video-box {
    max-width: 900px !important;
    height: 200px;

    @media (min-width: 425px) {
      height: 250px;
    }
    @media (min-width: 768px) {
      height: 400px;
    }

    @media (min-width: 900px) {
      height: 450px;
    }
  }
}
