/* Roadmap Section
  --------------------------------*/
#roadmap {
  background: #f6f6f6;
  padding: 80px 0;
}

#roadmap .container {
  height: 600px;
}

.progress-bar {
  background-color: #ffdd55;
}
